.wrapper {
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Id {
  margin-top: 30px;
}

.Password {
  margin-top: 30px;
}

.Pwre {
  margin-top: 30px;
}

.login {
  width: 400px;
  margin-top: 30px;
}



